:root {
  --theme-primary: #c73d67;
}
/* mini reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* layout */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  margin: 1rem 0;
}
main {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
/* sidebar */
aside {
  grid-area: nav;
}
aside h1 {
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2em;
}
aside h2 {
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}
aside #cocktails-search,
#cocktails-selector {
  font-family: "Josefin Sans", sans-serif;
  margin: 1.5rem;
}
aside .item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  line-height: 1.5rem;
}
aside .item.button {
  font-weight: bold;
}
aside ul {
  width: 100%;
  padding: 0;
}
aside li.item:hover {
  background-color: #fae8b9;
}
aside li.item.winner:after {
  content: "winner";
  border-radius: 1em;
  background-color: #facc57;
  height: 1.5rem;
  padding: 0 1em;
  margin: 0 0.5rem;
}
/* detail */
section {
  grid-area: content;
  padding: 2rem;
  background-color: rgb(255, 237, 194);
}
#detail {
  max-width: 80%;
}
#detail img {
  width: 100%;
}
#score-form {
  padding: 0;
}
#score-form input[type="number"],
#score-form input[type="submit"] {
  font-size: 1rem;
  padding: 1rem;
  width: 4rem;
  text-align: center;
  display: inline-block;
}
/* modal */
.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-form {
  background-color: rgb(255, 237, 194);
  margin-top: 20vh;
  width: 600px;
  margin: 20vh auto 0;
}
/* forms */
form {
  padding: 1em;
}
form input,
form textarea {
  display: block;
  font-size: 0.8rem;
  width: 100%;
  max-width: 600px;
  padding: 0.25em 1em;
  margin: 0.25em 0 0.5em;
}
form input[type="submit"] {
  margin: 1em 0 0 0;
  padding: 1em;
  width: auto;
  font-weight: 600;
  cursor: pointer;
}
.table-image {
  height: 80px;
  max-width: 80px;
  border-radius: 10px;
}

#detail > table,
td,
th {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#cocktail-header {
  padding-top: 20px;
}

#cocktails-search-form input {
  border: thin solid black;
}

.cocktail-image {
  max-width: 20vw;
  height: auto;
}

.delete-button {
  background-color: red;
  color: white;
}

.card {
  margin-bottom: 75px;
  margin-right: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
}

.card:hover {
  color: blue;
}

.show-cocktail-main-div {
  text-align: center;
  background-color: rgb(255, 255, 220);
  border-radius: 15px;
  padding-bottom: 20px;
}

.cocktail-image {
  border-radius: 20%;
  margin-bottom: 20px;
}

#update-cocktail-button {
  margin-bottom: 20px;
}

#ingredients-header {
  padding-top: 20px;
  margin-bottom: 0px;
  border-top: solid;
  border-color: #fae8b9;
  border-width: 20px;
}

#ingredients-container {
  padding-bottom: 20px;
}

#ingredient-table {
  margin: 0 auto;
}

#ingredient-table > tbody, tr, td {
  border: none;
}

#cocktail-instructions {
  text-align: center;
  border-bottom: solid;
  border-color: #fae8b9;
  border-width: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#favorite-button {
  font-size: 20px;
  border-radius: 10px;
  border: 2px black;
  margin-bottom: 30px;
  transition-duration: 0.4s;
}

.is-favorite {
  background-color: green;
  color: white;
}

.is-not-favorite {
  background-color: rgb(255, 215, 0);
  color: black;
}

#favorite-button:hover {
  background-color: #66ccff;
  color: black;
}

.review-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background: #f5f2da;
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.review-container > h3 {
  font-size: 16pt;
}

#review-form-container {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: #a8e1e3;
}

#review-form-header {
  padding-top: 10px;
}

#review-form input[type="submit"] {
  display: inline-block;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 32px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}

#review-text-area {
  background-color: #cffdff;
  display: block;
}

.rating-drop-down {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  background: #cffdff;
  border: 1px solid #82dde0;
  border-radius: 5px;
}

.rating-drop-down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.rating-drop-down:hover .rating-drop-down-content {
  display: block;
}

#search-option {
  border: 1px solid grey;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#delete-cocktail-button {
  padding: 5px 10px 5px 10px;
}

button {
  border: none;
  border-radius: 5px;
}